numpy==2.4.4
opencv-python==4.13.0.92
pyobjc-core==12.1
pyobjc-framework-AVFoundation==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreAudio==12.1
pyobjc-framework-CoreMedia==12.1
pyobjc-framework-Quartz==12.1
